Source: pulse-xmpp-agent-deps
Section: admin
Priority: extra
Maintainer: Nicolas Lécureuil <nicolas.lecureuil@siveo.net>
Build-Depends: debhelper (>= 5.0.37.2), wget
Standards-Version: 3.9.4
Homepage: https://medulla-tech.io/

Package: pulse-xmpp-agent-deps
Architecture: all
Depends: ${misc:Depends}
Provides: pulse-kiosk-agent-deps
Replaces: pulse-kiosk-agent-deps
Conflicts: pulse-kiosk-agent-deps
Description: Medulla dependencies
