#!/usr/bin/make -f

DESTDIR = $(CURDIR)/debian/pulse-agent-installer

build:
	rm -fr var
	#Windows modules
	# TODO:  https://agents.siveo.net/win/downloads/VCForPython27.msi
	mkdir -p var/lib/pulse2/clients/win/downloads/
	wget --no-check-certificate -P var/lib/pulse2/clients/win/downloads/ \
	 https://agents.siveo.net/win/downloads/python-3.9.9.exe \
	 https://agents.siveo.net/win/downloads/python-3.9.9-amd64.exe \
	 https://agents.siveo.net/win/downloads/cwRsync_5.5.0_x86_Free.zip \
	 https://agents.siveo.net/win/downloads/LGPO.zip  \
	 https://agents.siveo.net/win/downloads/v8.9.1.0p1-Beta/OpenSSH-Win32.zip \
	 https://agents.siveo.net/win/downloads/v8.9.1.0p1-Beta/OpenSSH-Win64.zip \
	 https://agents.siveo.net/win/downloads/fusioninventory-agent_windows-x86_2.6.exe \
	 https://agents.siveo.net/win/downloads/fusioninventory-agent_windows-x86_2.6-portable.exe \
	 https://agents.siveo.net/win/downloads/fusioninventory-agent_windows-x64_2.6.exe \
	 https://agents.siveo.net/win/downloads/fusioninventory-agent_windows-x64_2.6-portable.exe \
	 https://agents.siveo.net/win/downloads/tightvnc-2.8.63-gpl-setup-32bit.msi \
	 https://agents.siveo.net/win/downloads/tightvnc-2.8.63-gpl-setup-64bit.msi \
	 https://agents.siveo.net/win/downloads/syncthing-windows-386-v1.20.3.zip \
	 https://agents.siveo.net/win/downloads/syncthing-windows-amd64-v1.20.3.zip \
	 https://agents.siveo.net/win/downloads/bootstrap.css \
	 https://agents.siveo.net/win/downloads/bootstrap.js \
	 https://agents.siveo.net/win/downloads/jquery-3.6.0.js \
	 https://agents.siveo.net/win/downloads/jquery-ui.css \
	 https://agents.siveo.net/win/downloads/jquery-ui.js \
	 https://agents.siveo.net/win/downloads/jquery.dataTables.css \
	 https://agents.siveo.net/win/downloads/jquery.dataTables.js \
	 https://agents.siveo.net/win/downloads/glyphicons-halflings-regular.woff \
	 https://agents.siveo.net/win/downloads/style.css \
     https://agents.siveo.net/win/downloads/script.js

	mkdir -p var/lib/pulse2/clients/win/downloads/python_modules/
	wget --no-check-certificate -P var/lib/pulse2/clients/win/downloads/python_modules/ \
	 https://agents.siveo.net/win/downloads/python_modules/pypiwin32-223-py3-none-any.whl \
	 https://agents.siveo.net/win/downloads/python_modules/netifaces-0.11.0.tar.gz \
	 https://agents.siveo.net/win/downloads/python_modules/comtypes-1.1.12-py2.py3-none-any.whl \
	 https://agents.siveo.net/win/downloads/python_modules/utils-0.9.0.tar.gz \
	 https://agents.siveo.net/win/downloads/python_modules/slixmpp-1.8.2.tar.gz \
	 https://agents.siveo.net/win/downloads/python_modules/WMI-1.5.1-py2.py3-none-any.whl \
	 https://agents.siveo.net/win/downloads/python_modules/zipfile2-0.0.12-py2.py3-none-any.whl \
	 https://agents.siveo.net/win/downloads/python_modules/pycurl-7.45.1.tar.gz \
	 https://agents.siveo.net/win/downloads/python_modules/lxml-4.9.1-cp39-cp39-win_amd64.whl \
	 https://agents.siveo.net/win/downloads/python_modules/pycryptodome-3.15.0.tar.gz \
	 https://agents.siveo.net/win/downloads/python_modules/croniter-1.3.5-py2.py3-none-any.whl \
	 https://agents.siveo.net/win/downloads/python_modules/python_dateutil-2.8.2-py2.py3-none-any.whl \
	 https://agents.siveo.net/win/downloads/python_modules/six-1.16.0-py2.py3-none-any.whl \
	 https://agents.siveo.net/win/downloads/python_modules/psutil-5.9.1-cp39-cp39-win_amd64.whl \
	 https://agents.siveo.net/win/downloads/python_modules/pywin32-304-cp39-cp39-win_amd64.whl \
	 https://agents.siveo.net/win/downloads/python_modules/pywin32-304-cp39-cp39-win32.whl \
	 https://agents.siveo.net/win/downloads/python_modules/PyQt6-6.3.1.tar.gz \
	 https://agents.siveo.net/win/downloads/python_modules/sip-6.6.2.tar.gz \
	 https://agents.siveo.net/win/downloads/python_modules/pysftp-0.2.9.tar.gz \
	 https://agents.siveo.net/win/downloads/python_modules/paramiko-2.11.0-py2.py3-none-any.whl \
	 https://agents.siveo.net/win/downloads/python_modules/ecdsa-0.17.0-py2.py3-none-any.whl \
	 https://agents.siveo.net/win/downloads/python_modules/syncthing-2.4.2.tar.gz \
	 https://agents.siveo.net/win/downloads/python_modules/requests-2.28.1-py3-none-any.whl \
	 https://agents.siveo.net/win/downloads/python_modules/idna-3.3-py3-none-any.whl \
	 https://agents.siveo.net/win/downloads/python_modules/urllib3-1.26.9-py2.py3-none-any.whl \
	 https://agents.siveo.net/win/downloads/python_modules/certifi-2022.6.15-py3-none-any.whl \
	 https://agents.siveo.net/win/downloads/python_modules/chardet-5.0.0-py3-none-any.whl \
	 https://agents.siveo.net/win/downloads/python_modules/pathlib-1.0.1-py3-none-any.whl \
	 https://agents.siveo.net/win/downloads/python_modules/CherryPy-18.6.1-py2.py3-none-any.whl \
	 https://agents.siveo.net/win/downloads/python_modules/Routes-2.5.1-py2.py3-none-any.whl \
	 https://agents.siveo.net/win/downloads/python_modules/simplejson-3.17.6-cp39-cp39-win_amd64.whl \
	 https://agents.siveo.net/win/downloads/python_modules/repoze.lru-0.7-py3-none-any.whl \
	 https://agents.siveo.net/win/downloads/python_modules/WebOb-1.8.7-py2.py3-none-any.whl

# Module not found: https://files.pythonhosted.org/packages/a2/38/3adebc116c711f795edb94004afbd9784576b6ee50b7f89647889382d152/tray-0.1.0.tar.gz

	#Linux Modules
	mkdir -p var/lib/pulse2/clients/lin/downloads/
	wget --no-check-certificate -P var/lib/pulse2/clients/lin/downloads/ \
     https://stackpath.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js \
     https://stackpath.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css \
     https://code.jquery.com/jquery-3.5.1.js \
     https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css \
     https://code.jquery.com/ui/1.12.1/jquery-ui.js \
     http://cdn.datatables.net/1.10.22/css/jquery.dataTables.css \
     http://cdn.datatables.net/1.10.22/js/jquery.dataTables.js \
     https://github.com/twbs/bootstrap-sass/raw/master/assets/fonts/bootstrap/glyphicons-halflings-regular.woff \
     https://agents.siveo.net/win/downloads/style.css \
     https://agents.siveo.net/win/downloads/script.js
	
	#Mac Modules
	mkdir -p var/lib/pulse2/clients/mac/downloads/
	wget --no-check-certificate -P var/lib/pulse2/clients/mac/downloads/ \
	 https://github.com/fusioninventory/fusioninventory-agent/releases/download/2.4/FusionInventory-Agent-2.4-1.pkg.tar.gz \
	 https://github.com/stweil/OSXvnc/releases/download/V5_2_1/OSXvnc-5.2.1.dmg \
	 https://github.com/Homebrew/brew/archive/1.5.12.tar.gz \
	 https://github.com/syncthing/syncthing/releases/download/v1.18.0/syncthing-macos-amd64-v1.18.0.zip\
	 https://stackpath.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js \
     https://stackpath.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css \
     https://code.jquery.com/jquery-3.5.1.js \
     https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css \
     https://code.jquery.com/ui/1.12.1/jquery-ui.js \
     http://cdn.datatables.net/1.10.22/css/jquery.dataTables.css \
     http://cdn.datatables.net/1.10.22/js/jquery.dataTables.js \
     https://github.com/twbs/bootstrap-sass/raw/master/assets/fonts/bootstrap/glyphicons-halflings-regular.woff \
     https://agents.siveo.net/win/downloads/style.css \
     https://agents.siveo.net/win/downloads/script.js
	mkdir -p var/lib/pulse2/clients/mac/downloads/python_modules/
	wget --no-check-certificate -P var/lib/pulse2/clients/mac/downloads/python_modules/ \
	 https://files.pythonhosted.org/packages/a6/91/86a6eac449ddfae239e93ffc1918cf33fd9bab35c04d1e963b311e347a73/netifaces-0.11.0.tar.gz \
	 https://pypi.python.org/packages/07/49/42c86388fed58455e7e18d3821d7687f4921e47a40cb312e69b82f75c660/utils-0.9.0.tar.gz \
	 https://pypi.python.org/packages/2e/33/7adcc8d6b35cb72f9cc56785a3d9c63d540200c476b0cb3a0926f5b51102/sleekxmpp-1.3.1.tar.gz \
	 https://pypi.python.org/packages/60/ad/d6bc08f235b66c11bbb76df41b973ce93544a907cc0e23c726ea374eee79/zipfile2-0.0.12-py2.py3-none-any.whl \
	 https://files.pythonhosted.org/packages/ef/05/4b773f74f830a90a326b06f9b24e65506302ab049e825a3c0b60b1a6e26a/pycurl-7.43.0.5.tar.gz \
	 https://pypi.python.org/packages/11/1b/fe6904151b37a0d6da6e60c13583945f8ce3eae8ebd0ec763ce546358947/lxml-3.6.0.tar.gz \
	 https://pypi.python.org/packages/60/db/645aa9af249f059cc3a368b118de33889219e0362141e75d4eaf6f80f163/pycrypto-2.6.1.tar.gz \
	 https://files.pythonhosted.org/packages/4b/0d/7ed381ab4fe80b8ebf34411d14f253e1cf3e56e2820ffa1d8844b23859a2/python_dateutil-2.6.1-py2.py3-none-any.whl \
	 https://pypi.python.org/packages/c8/0a/b6723e1bc4c516cb687841499455a8505b44607ab535be01091c0f24f079/six-1.10.0-py2.py3-none-any.whl \
	 https://pypi.python.org/packages/58/2a/17d003f2a9a0188cf9365d63b3351c6522b7d83996b70270c65c789e35b9/croniter-0.3.16.tar.gz \
	 https://pypi.python.org/packages/e2/e1/600326635f97fee89bf8426fef14c5c29f4849c79f68fd79f433d8c1bd96/psutil-5.4.3.tar.gz \
	 https://files.pythonhosted.org/packages/4c/14/3408e92e28f4a38f51573e5ba83017fde8e3ae70522555ee2b19347e0f6e/plyvel-1.2.0.tar.gz \
	 https://files.pythonhosted.org/packages/36/60/45f30390a38b1f92e0a8cf4de178cd7c2bc3f874c85430e40ccf99df8fe7/pysftp-0.2.9.tar.gz \
	 https://files.pythonhosted.org/packages/95/a8/72f860ff71bc260a4c815f50c65e04d69b9c5a3e51ff82afe3cd6757faa9/paramiko-1.18.5-py2.py3-none-any.whl \
	 https://files.pythonhosted.org/packages/63/f4/73669d51825516ce8c43b816c0a6b64cd6eb71d08b99820c00792cb42222/ecdsa-0.13-py2.py3-none-any.whl \
	 https://files.pythonhosted.org/packages/ef/4e/9f04fc58040cbf05984d7ca9393ff2dbc8b6909b163a768fc28786eacf06/syncthing-2.3.1.tar.gz \
	 https://files.pythonhosted.org/packages/49/df/50aa1999ab9bde74656c2919d9c0c085fd2b3775fd3eca826012bef76d8c/requests-2.18.4-py2.py3-none-any.whl \
	 https://files.pythonhosted.org/packages/27/cc/6dd9a3869f15c2edfab863b992838277279ce92663d334df9ecf5106f5c6/idna-2.6-py2.py3-none-any.whl \
	 https://files.pythonhosted.org/packages/63/cb/6965947c13a94236f6d4b8223e21beb4d576dc72e8130bd7880f600839b8/urllib3-1.22-py2.py3-none-any.whl \
	 https://files.pythonhosted.org/packages/60/75/f692a584e85b7eaba0e03827b3d51f45f571c2e793dd731e598828d380aa/certifi-2019.3.9-py2.py3-none-any.whl \
	 https://files.pythonhosted.org/packages/bc/a9/01ffebfb562e4274b6487b4bb1ddec7ca55ec7510b22e4c51f14098443b8/chardet-3.0.4-py2.py3-none-any.whl \
	 https://files.pythonhosted.org/packages/ac/aa/9b065a76b9af472437a0059f77e8f962fe350438b927cb80184c32f075eb/pathlib-1.0.1.tar.gz \

	rm -frv $(DESTDIR)/tmp
clean:
	dh_testdir
	dh_testroot
	-$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install
	dh_fixperms
	dh_installchangelogs
	dh_installdocs
	dh_installinit
	# Some postinstall tools are known to fails after being stripped
	#dh_strip
	dh_link
	dh_compress
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
